# Mining data extracted from receits

The background of the present work is an Object Character Recognition for receits

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import os

In [2]:
import nltk
#nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer

#from bs4 import BeautifulSoup

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, DBSCAN
from sklearn.metrics import silhouette_score, confusion_matrix
from sklearn.model_selection import GridSearchCV

# 0. Load

In [3]:
! ls -l ../data/mmocr*

-rw-rw-r-- 1 igodlab igodlab 123401 Jul 20 21:38 ../data/mmocrAll.csv

In [5]:
fname = "mmocrAll.csv"
fpath = os.path.join("..", "data", fname)

# load data
df_raw = pd.read_csv(fpath, na_values=[])
print("df_raw shape: ", df_raw.shape)
df_raw.info()
display(df_raw.head())

df_raw shape:  (209, 27)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           209 non-null    object
 1   Ignore               209 non-null    object
 2   Store_name_value     209 non-null    object
 3   Store_name_key       209 non-null    object
 4   Store_addr_value     209 non-null    object
 5   Store_addr_key       209 non-null    object
 6   Tel_value            209 non-null    object
 7   Tel_key              209 non-null    object
 8   Date_value           209 non-null    object
 9   Date_key             209 non-null    object
 10  Time_value           209 non-null    object
 11  Time_key             209 non-null    object
 12  Prod_item_value      209 non-null    object
 13  Prod_item_key        209 non-null    object
 14  Prod_quantity_value  209 non-null    object
 15  Prod_quantity_key    209 non-null    object
 16  Prod_price_value     209 non-null    object
 17  Prod_price_key       209 non-null    object
 18  Subtotal_value       209 non-null    object
 19  Subtotal_key         209 non-null    object
 20  Tax_value            209 non-null    object
 21  Tax_key              209 non-null    object
 22  Tips_value           209 non-null    object
 23  Tips_key             209 non-null    object
 24  Total_value          209 non-null    object
 25  Total_key            209 non-null    object
 26  Others               209 non-null    object
dtypes: object(27)
memory usage: 44.2+ KB

,Unnamed: 0,Ignore,Store_name_value,Store_name_key,Store_addr_value,Store_addr_key,Tel_value,Tel_key,Date_value,Date_key,...,Prod_price_key,Subtotal_value,Subtotal_key,Tax_value,Tax_key,Tips_value,Tips_key,Total_value,Total_key,Others
0,2c78fc0d-7bf8-4ffb-95e2-d9458372c520,[],['Scott'],[],"['Delta,', '11970.888th.AVE.']",[],"['1DE901F7705EC7A1', 'Telethe)57effe-I11']",[],"['2021/03/20', '2021-03-20']","['DATE', 'Date:']",...,[],"['54.58', '51.98']",['subtotalt'],"['9.82', '2.60']",[],[],['tip'],"['$64.40', '54.58']","['TOTAL', 'AMOUNT', 'TOTAL:']","['COPY-FORTOUR.RECORDS', 'LIPORTANT-RETAINTHIS..."
1,fb66ace3-dea5-4683-a611-805be42f09e8,[],['saravanaa.Bhan'],[],['DELTA'],[],['8701120'],[],['2021103/27'],['DATE'],...,[],[],[],[],[],[],[],['$36.78'],['TOTAL'],"['COPY.FOR', 'IMPORTANT', 'CARDHOLDER', 'NOSIG..."
2,96078d31-662b-47c2-90be-bd5c5f659d90,[],[],[],"['Pinleadianchipseau', 'Canada,<UKN>VBCAKOC6',...",[],['Tel:(604).581-8888'],[],[],[],...,[],[],[],[],[],[],[],['Total:$28.35'],[],"['ACUSTOMER.COP', 'www.transhearthroweeneeons...."
3,f93f9cab-d87f-4207-a13c-acc86c34e6f5,[],"['Da1e-Meeded&tonion', 'Chinmayahapatra', 'Fre...",[],"['Newst.Rewardlevel.3000', 'Surrey,Bong.Vo.u4'...",[],"['(604)441-2452', '604584-6766']",[],[],[],...,[],[],['Subtotal'],[],[],[],[],['2100'],['total'],"['Counterlaystone', 'offerstationastrype.shine..."
4,69fd9859-d168-4be9-b6d9-3c2a1d508dc6,[],"['Chinmayahapatra', 'webpickup23']",[],"['Surrey,Bong0.UA', '#133.9908King@eorge.Blvd'...",[],"['(604)441-2452', '604-584-6766']",[],[],[],...,[],['$19.99'],['Subtotal'],['1.00'],['GST'],[],[],['$20.99'],['Total'],"['Products', 'Feshsi.ceReedemptionR.Rulle', 'f..."

In [29]:
df_raw["Store_addr_value"]

0                         ['Delta,', '11970.888th.AVE.']
1                                              ['DELTA']
2      ['Pinleadianchipseau', 'Canada,<UKN>VBCAKOC6',...
3      ['Newst.Rewardlevel.3000', 'Surrey,Bong.Vo.u4'...
4      ['Surrey,Bong0.UA', '#133.9908King@eorge.Blvd'...
                             ...
204                                                   []
205                                                   []
206                                                   []
207                                                   []
208                                                   []
Name: Store_addr_value, Length: 209, dtype: object

In [19]:
def toList(x):
    a0 = x.copy()
    a0 = a0.split('"[')[1]
    a0 = a0.split(']"')[0]
    a0 = a0.split(',')
    return a0

In [26]:
df_raw["Store_addr_value"].apply(toList, axis=0)

TypeError: toList() got an unexpected keyword argument 'axis'

In [ ]:
a0

In [ ]:
a0 = toList(df_raw["Tel_value"])
a0